@import '../variables.css';

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 160px;
  .product-image-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    img {
      max-width: 160px;
    }
  }
  .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .product-brand {
      margin-top: 12px;
      color: $text-grey;
      font-size: 14px;
    }
    .product-name {
      margin-top: 6px;
    }
    .product-info {
      display: flex;
      margin-top: 15px;
      .info-tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-color: #dbdbdb;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        font-size: 12px;
        padding: 3px;
        margin-right: 5px;
        .color-square {
          margin-right: 5px;
          width: 10px;
          height: 10px;
        }
      }
    }
    .product-actions-wrapper {
      margin-top: auto;
      margin-bottom: 15px;
      .product-action {
        margin-right: 20px;
      }
    }
  }
  .quantity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .quantity-input-wrapper {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      button {
        font-family: 'Montserrat', sans-serif;
        margin-left: 10px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }
      input {
        max-width: 46px;
        height: 24px;
        text-align: center;
        border: none;
        padding: 0;
      }
    }
  }
  .price-wrapper {
    p.product-price {
      margin-top: 38px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
