#modal-root {
  position: relative;
  z-index: 999;
}

.modal-container {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-view {
  width: 850px;
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
}
